/Day4/SpectrumAnalyzer/build/
/Day4/SpectrumAnalyzer/dist/
/Day4/SpectrumAnalyzer/310_main_vsa.spec
/Day4/SpectrumAnalyzer/last.yaml
/Day3/DesignerAndMXG/build/
/Day3/DesignerAndMXG/dist/
/Day3/DesignerAndMXG/220_main_mxg.spec
/Day3/DesignerAndMXG/last.yaml
/Day2/build/
/Day2/dist/
/Day2/154_find_cw.spec
/.idea/.gitignore
/Exercises/ex4/last.yaml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/python_rf_course.iml
/Day2/SN1234.txt
/Day2/SN2222.txt
/Day2/SN3333.txt
/Day2/SN4321.txt
/Day2/SN4444.txt
/.idea/vcs.xml
/Exercises/ex5/solution/build/
/Exercises/ex5/solution/dist/
/Exercises/ex5/solution/Ex5_solution.spec
/Exercises/ex5/solution/last.yaml
/Exercises/ex5/last.yaml
/Exercises/workshop/solution/build/
/Exercises/workshop/solution/dist/
/Exercises/workshop/solution/pa_app_solution.spec
